[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.1"
scrapy = "*"
pandas = "*"
dlt = "*"
pydantic = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
